<div class="container dataview-content">
    <div class="grid grid-nogutter">
        <div class="col-12" *ngIf="!showSpinner">
            <div class="product-list-item" (click)="goToDetail(item.id)" *ngFor="let item of items">
                <img [src]="item.picture" alt="{{item.title}}" >
                <div class="product-list-detail">
                    <h2 class="item__title price"> 
                        {{item.price.amount| currency : 'USD' : 'symbol' : '1.0-2' }}
                    </h2>
                    <div class="price__part">{{item.title}}</div>
                </div>
                <div class="product-list-action">
                    <p-chip label="{{item.condition}}" styleClass="mr-2"></p-chip>
                </div>
            </div>
        </div>
        <div class="col-12 justify-content-center align-items-center flex" *ngIf="showSpinner">
            <p-progressSpinner styleClass="custom-spinner"></p-progressSpinner>
        </div>
    </div>
</div>