<div class="container dataview-content">
    <div class="grid grid-nogutter">
        <div class="col-12">
            <div class="product-list-item" (click)="goToDetail('1')">
                <img src="http://44.201.194.56:8000/media/publications/2022/02/04/gato_1.jpeg" alt="Gato" >
                <div class="product-list-detail">
                    <h2 class="item__title"> 
                        199910
                    </h2>
                    <div class="price__part">Gato</div>
                </div>
                <div class="product-list-action">
                    <i class="pi pi-heart"></i>
                </div>
            </div>
        </div>
    </div>
</div>