<div class="container detail-item">
    <div class=" grid grid-nogutter">
        <div class="col-12 md:col-9">
            <div class="col-12 relative">
                <figure class="gallery__figure">
                    <img data-index="0"
                        width="300" height="500" decoding="async"
                        src="https://http2.mlstatic.com/D_NQ_NP_961405-MLC46238104065_062021-O.webp"
                        class="image gallery__figure__image" alt="Imagen 1 de 2 de Funko Pop Wwe Edge 86 - Gw041">
                </figure>
            </div>
            <div class="col-12">
                <h3>Descripcion</h3>
            </div>
        </div>
        <div class="col-12 md:col-3">
            <h5>Categoria</h5>
            <h3>Nombre</h3>
            <h1>Precios</h1>
            <button type="button" pButton pRipple class="" label="Comprar" ></button>      

        </div>
    </div>
</div>